<!doctype html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Eat Together</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="theme-color" content="#e4e4e4">
  <link rel="icon" href="<%= htmlWebpackPlugin.options.contextPath %>/favicon.ico">
  <link rel="preload" href="<%= htmlWebpackPlugin.files.css[0] %>" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <link rel="preload" as="script" href='<%= htmlWebpackPlugin.files.js[0] %>'>
  <link rel="preload" as="script" href='<%= htmlWebpackPlugin.files.js[1] %>'>
  <link rel="manifest" href="<%= webpackConfig.output.publicPath %><%= webpack.assets.map(asset => asset.name).filter(assetName => assetName.startsWith('manifest.'))[0] %>">
  <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.css"
        crossorigin="anonymous">
  <link rel="stylesheet" href="../css/custom-themes.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
  <noscript>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
  </noscript>
  <script>
    /*! loadCSS. [c]2017 Filament Group, Inc. MIT License */
    !function(a){"use strict";var b=function(b,c,d){function j(a){if(e.body)return a();setTimeout(function(){j(a)})}function l(){f.addEventListener&&f.removeEventListener("load",l),f.media=d||"all"}var g,e=a.document,f=e.createElement("link");if(c)g=c;else{var h=(e.body||e.getElementsByTagName("head")[0]).childNodes;g=h[h.length-1]}var i=e.styleSheets;f.rel="stylesheet",f.href=b,f.media="only x",j(function(){g.parentNode.insertBefore(f,c?g:g.nextSibling)});var k=function(a){for(var b=f.href,c=i.length;c--;)if(i[c].href===b)return a();setTimeout(function(){k(a)})};return f.addEventListener&&f.addEventListener("load",l),f.onloadcssdefined=k,k(l),f};"undefined"!=typeof exports?exports.loadCSS=b:a.loadCSS=b}("undefined"!=typeof global?global:this);
    /*! loadCSS rel=preload polyfill. [c]2017 Filament Group, Inc. MIT License */
    !function(a){if(a.loadCSS){var b=loadCSS.relpreload={};if(b.support=function(){try{return a.document.createElement("link").relList.supports("preload")}catch(a){return!1}},b.poly=function(){for(var b=a.document.getElementsByTagName("link"),c=0;c<b.length;c++){var d=b[c];"preload"===d.rel&&"style"===d.getAttribute("as")&&(a.loadCSS(d.href,d,d.getAttribute("media")),d.rel=null)}},!b.support()){b.poly();var c=a.setInterval(b.poly,300);a.addEventListener&&a.addEventListener("load",function(){b.poly(),a.clearInterval(c)}),a.attachEvent&&a.attachEvent("onload",function(){a.clearInterval(c)})}}}(this);
  </script>

  <style>
    body, html {
      height: 100%;
      background-color: #3B653D;
    }

    .background-et {
      background-color: #3B653D;
    }

    .categories-slider .btn {
      padding: 9px;
      margin-left: 3px;
      margin-right: 3px;
      border-radius: 0.25rem !important;
    }

    .categories-slider .btn.active {
      color: #3B653D;
    }

    .categories-slider .btn span {
      filter: grayscale(100%);
      font-size: 25px;
    }

    .categories-slider .btn.active span {
      filter: none;
    }

    .search-slider span {
      width: 20vw;
      color: #3B653D;
      text-align: center;
    }
  </style>
</head>
<body>
<div id="root">
</div>

<script>
  (function () {
    var preloadedApp = window.document.createElement('script');
    preloadedApp.src = '<%= htmlWebpackPlugin.files.js[1] %>';
    var loadAppScript = function (script) {
      return function () {
        window.document.body.appendChild(script);
      }
    };
    var preloadedVendor = window.document.createElement('script');
    preloadedVendor.src = '<%= htmlWebpackPlugin.files.js[0] %>';
    preloadedVendor.onload = loadAppScript(preloadedApp);
    window.document.body.appendChild(preloadedVendor);
  })();
</script>

<script type="application/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script type="application/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>
</html>
